
/*
.container {
  display: flex;
  gap: 20px;
  background-color: blueviolet;
  justify-content: space-between;
}

*/

/*
justify-content: flex-start;
justify-content: center;
justify-content: space-around;
justify-content: space-evenly;

*/

/*
organizado horizontal
.container {
  display: flex;
  align-items: center;
}
*/

/*
.container{
text-align: center;
align-items: stretch;
align-items: baseline;
background-color: blueviolet;
}
*/

/*
espaciado vertical entre columnas
.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
*/