*{
    text-decoration: none;
    font-family: sans-serif;
    
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn.outline{
background-color: white;
border: 0;

}
.btn-login{
    justify-content: center;
    background-color: rgb(130, 255, 213);
    border: none;
    padding: 5px 30px 0px 10px;
}

.logo{
    
    color: rgb(102, 255, 196);
    
}


