@import url('https://fonts.googleapis.com/css?family=Amiko|Poppins|Work+Sans');

body {
   font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 400;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


.wrapper {
  max-width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  padding-right:auto;
  padding-left:auto;
  display: flex;
  flex-flow: column wrap;
}

.container {
  padding: 2em;
  margin: auto;
}

.card {
    text-align: left;
    padding: 1em;
    margin: 1em;
    border: 2px solid #d3d3d3;
    border-radius: 0.5em;
  .container {
    padding: 0;
    min-width: 300px;
  }
}



.splitContent {
  justify-content: space-between;
  min-width: 50%;
}

.col {
  flex: 1 2 0;
  max-width: 100%;
  &.col-auto {
    position: relative;
    padding-left:15px;
    padding-right: 15px;
  }
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -15px 0 -15px;
}

.cardSect {
  align-content: center;
  
  justify-content: center;
  margin: 10px;
  min-width: 180px;
  display: flex;
  flex-wrap: wrap;
}


.icon {
   .big {
    font-size: 50px;
  }
  .medium {
    font-size: 35px;
  }
  .small {
    font-size: 20px;
  }
  .xs {
    font-size: 10px;
  }
}


/* titulos de carta*/
.item {
  & > .head {
    text-align: center;
    margin-bottoom: 5%;      
    .title{
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px;
    } 
    .icon {
      margin-bottom: 10px;
    }

  }
  .content {
    font-size: 15px;
  }
}

@media (max-width: 991.98px) {
  .title {
    text-align: center;
  }
  .cardSect {
     justify-content: center;
    min-height: 100px;
  }
    #dividerWrap {
        flex-basis: 0;
        flex-grow: 1;
        min-width: 90%;
    
    }

  .item {
    display: block;
    min-width: 300;
    
  }

/*alinear el texto y la imagen*/
.content {
    display: flex;
    align-items: flex-start; /* alinea arriba */
    gap: 20px; /* espacio entre imagen y texto */
}

.photo {
   font-size: 20px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {

    width: 100%;
    height: 60px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #00bcd4;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
}

  
  
    .contentDivider {
    margin: 15px  0 15px 0;
    font-size: 20px;

        .dividedText {
      
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            &:before,
            &:after {
              content: '';
              border-top: 2px solid;
              margin: 0 20px 0 0;
              flex: 1 0 20px;
            }
            &:after {
              margin: 0 0 0 20px;
            }
        }
    }
}

@media (min-width: 992px) {
  #dividerWrap {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 20px;
    padding: -10px 0 -10px;
    justify-content: center;
  }

 

  .split {
    justify-content: center;
  }
    .contentDivider {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
    justify-self: center;

        height: 100%;
        min-width: 100%;

        .dividedText {
            &:before,
            &:after {
                position: absolute;
                content: "";
                width: 1px;
                left: 50%;
                border-left: 2px solid black;
            }
            &:before {
                bottom: 50%;
                top: 0;
                margin-bottom: 20px;
            }
            &:after {
                top: 50%;
                bottom: 0;
                margin-top: 20px;
            }
        }
    }
}