.info-column {
  display: grid;
  row-gap: 29px; /* espacio vertical */
  max-width: 1000px; /*largo*/
}

.item {
  padding: 20px;
  background: #f4f4f4;
  border-radius: 10px;
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columnas */
  gap: 40px; /* espacio entre columnas */
  padding: 40px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px; /* espacio interno */
}

.column img {
  width: 100%;
  border-radius: 12px;
}

.carousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px;
}

.card {
  min-width: 250px;
  padding: 30px;
  background: #ddd;
  border-radius: 12px;
}


.carousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px;
}

.card {
  min-width: 250px;
  padding: 30px;
  background: #ddd;
  border-radius: 12px;
}




.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background: #0047ab;
  color: white;
}
.menu {
  display: flex;
  gap: 24px;
}
.menu a {
  color: white;
  text-decoration: none;
}
.actions {
  display: flex;
  gap: 12px;
}

.primary {
  background: #ffcc00;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
}



.categories {
  display: flex;
  gap: 20px;
  padding: 12px 40px;
  background: #eee;
}

/*
imagenes
<img src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9" alt="Producto">

css:
img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}



*/


a {
  text-decoration: none;
  color: #0047ab;
}
